<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="NLog.Contrib"/>
  </extensions>
  
  <targets>
    <target xsi:type="File" name="f" fileName="e:\savedlogs\BillingApi.${shortdate}.log" keepFileOpen="True"
            layout="${longdate}; level=${level:uppercase=true}; threadId=${threadid}; class=${logger}; ${mdlc:item=requestId}; ${mdlc:item=clientIp}; ${mdlc:item=requestUrl}; ${message}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    
    <logger name="*" minlevel="Info" writeTo="F" />
  </rules>
</nlog>